.tiptap.ProseMirror h1,
.tiptap.ProseMirror h2,
.tiptap.ProseMirror h3,
.tiptap.ProseMirror h4,
.tiptap.ProseMirror h5 {
  position: relative;
}


/* TAG:Title 标题css */
.mantine-Container-root > div:first-of-type .tiptap.ProseMirror h1::before {
  content: none !important;
}

.tiptap.ProseMirror h1::before,
.tiptap.ProseMirror h2::before,
.tiptap.ProseMirror h3::before,
.tiptap.ProseMirror h4::before,
.tiptap.ProseMirror h5::before {
  position: absolute;
  left: -36px;
  color: #888;
}

@media (max-width: 1000px) {
  .tiptap.ProseMirror h1::before,
  .tiptap.ProseMirror h2::before,
  .tiptap.ProseMirror h3::before,
  .tiptap.ProseMirror h4::before,
  .tiptap.ProseMirror h5::before {
    left: -24px;
  }
}

.tiptap.ProseMirror h1::before {
  content: "H1";
  top: calc(50% - 8px);
  font-size: 14px;
}

.tiptap.ProseMirror h2::before {
  content: "H2";
  top: calc(50% - 7px);
  font-size: 13px;
}

.tiptap.ProseMirror h3::before {
  content: "H3";
  top: calc(50% - 6px);
  font-size: 12px;
}

.tiptap.ProseMirror h4::before {
  content: "H4";
  top: calc(50% - 5px);
  font-size: 11px;
}

.tiptap.ProseMirror h5::before {
  content: "H5";
  top: calc(50% - 4px);
  font-size: 10px;
}

[data-placeholder="Untitled"]::after,
[data-placeholder="无标题"]::after {
  content: "Untitled";
  color: #888;
  position: absolute;
  top: 0;
  cursor: text;
}

/* 代码块 */
.ProseMirror [contenteditable="false"] {
  margin: -4px;
  padding: 4px 2px;
  border-radius: 4px 4px 0 0;
}

[data-mantine-color-scheme="dark"] .ProseMirror [contenteditable="false"] {
  /* 定义暗黑模式下的背景色变量 */
  --prosemirror-readonly-bg-dark: #1a1a1a;
  background: var(--prosemirror-readonly-bg-dark);
}

[data-mantine-color-scheme="light"] .ProseMirror [contenteditable="false"] {
  /* 定义亮色模式下的背景色变量 */
  --prosemirror-readonly-bg-light: #dee2e6;
  background: var(--prosemirror-readonly-bg-light);
}
